body {
    position: relative;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    vertical-align: bottom;
}
@import url('https://fonts.cdnfonts.com/css/dearjoe-6-trial');

/* 共通インナー */
.inner {
    max-width: 1000px;
    margin: 0 auto;
}
/* セクションタイトル(共通)*/
.section__title {
    color: #81799E;
    font-family: 'dearJoe 6 TRIAL', sans-serif;
    font-weight: normal;
    font-size: 80px;
    @media (max-width: 1000px) {
        font-size: 60px;
        padding-top:20px;
    }
}
/* ボタン(共通) */
.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 240px;
    padding: 24px 15px;
    background: linear-gradient(135deg, #9894DF 0%, #7EC3FD 95%);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15);                
    border-radius: 10px;
    transition: transform .4s;
    .btn__text {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        transition: transform .4s;
    }
    .btn__arrow {
        margin-left: 5%;
        
    }
}
.btn:hover {
    transform: scale(0.9);
    .btn__text {
        transform: rotate(-10deg);
    }
}
/* header */
.header {
    background-image: url(../images/top/fv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100vh;
    padding: 25px 120px;
    @media (max-width: 1000px) {
        padding: 20px 4%;
    }
    .header__logo {
        width: 100px;
        line-height: 1px;
        a {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    .header__nav {
        margin-top: 20px;
        .header__nav-items {
            .header__nav-list {
                font-size: 18px;
                transition: opacity .3s;
                a {
                    color: #6E6C9C;
                }
                
            }
            .header__nav-list + .header__nav-list {
                margin-top: 51px;
            }
            .header__nav-list:hover {
                opacity: 0.7;
            }
        }
    }
    .fv__title {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        .fv__title-font1 {
            display: flex;
            font-family: 'dearJoe 6 TRIAL', sans-serif;
            font-weight: normal;                            
            font-size: 135px;
            @media (max-width: 1000px) {
                padding-top: 20px;
                font-size: 90px;
                padding: 20px;
            }
            @media (max-width: 400px) {
                font-size: 60px;
            }
            /* background: linear-gradient(135deg, #C994D9 0, #A7D4E7 43%, #E4BCCC 93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; */
        }
        .fv__title-font2 {
            font-size: 100px;
            font-weight: 500;
            background: linear-gradient(135deg, #C994D9 0, #A7D4E7 43%, #E4BCCC 93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width: 1000px) {
                margin-top: -30px;
                font-size: 80px;
            }
            @media (max-width: 400px) {
                font-size: 40px;
            }
        }
    }
    .fv__text {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        .fv__text-left {
            margin-top: -40px;
            color: #625F89;
            font-size: 27px;
            font-family: "Noto Serif JP", serif;
            font-weight: 700;
            @media (max-width: 1000px) {
                margin: 10px auto 0;
                font-size: 20px;
            }
            @media (max-width: 400px) {
                font-size: 14px;
            } 
        }
        .fv__text-right {
            padding: 10px;
            display: flex;
            overflow: hidden;
            margin-top: -40px;
            color: #625F89;
            font-size: 85px;
            font-family: 'dearJoe 6 TRIAL', sans-serif;
            font-weight: normal; 
            @media (max-width: 1000px) {
                margin: 10px auto 0;
                font-size: 60px;
            }
            @media (max-width: 400px) {
                padding: 20px;
                font-size: 40px;
            }
        }
    }
}

/* Brandingのアニメーション */
.fv__title-font1 p {
    opacity: 0;
    animation: textanimation 1s forwards;
}
.fv__title-font1 p:nth-child(1) {
    color: #C994D9;
    animation-delay: 0.2s;
}
.fv__title-font1 p:nth-child(2) {
    color: #BFA5DD;
    animation-delay: 0.4s;
}
.fv__title-font1 p:nth-child(3) {
    color: #B1C0E3;
    animation-delay: 0.6s;
}
.fv__title-font1 p:nth-child(4) {
    color: #ACC9E5;
    animation-delay: 0.8s;
}
.fv__title-font1 p:nth-child(5) {
    color: #BBCCDE;
    animation-delay: 1.0s;
}
.fv__title-font1 p:nth-child(6) {
    color: #C9C6D8;
    animation-delay: 1.2s;
}
.fv__title-font1 p:nth-child(7) {
    color: #D5C2D2;
    animation-delay: 1.4s;
}
.fv__title-font1 p:nth-child(8) {
    color: #E4BCCC;
    animation-delay: 1.6s;
}

/* forWomenのアニメーション */
.fv__text-right p {
    opacity: 0;
    animation: textanimation 1s forwards;
}
.fv__text-right p:nth-child(1) {
    animation-delay: 1.6s;
}
.fv__text-right p:nth-child(2) {
    animation-delay: 1.8s;
}
.fv__text-right p:nth-child(3) {
    animation-delay: 2.0s;
}
.fv__text-right p:nth-child(4) {
    animation-delay: 2.2s;
}
.fv__text-right p:nth-child(5) {
    animation-delay: 2.4s;
}
.fv__text-right p:nth-child(6) {
    animation-delay: 2.6s;
}
.fv__text-right p:nth-child(7) {
    animation-delay: 2.8s;
}
.fv__text-right p:nth-child(8) {
    animation-delay: 3.0s;
}
.fv__text-right p:nth-child(9) {
    animation-delay: 3.2s;
}

@keyframes textanimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Concept */
.concept {
    padding: 0 5%;
    background-image: url(../images/top/concept-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    .concept__container {
        padding: 270px 0 150px;
        @media (max-width: 1000px) {
            padding: 180px 0 100px;
        } 
        .concept__contents {
            display: flex;
            .concept__text {
                width: 75%;
                z-index: 2;
                @media (max-width: 1000px) {
                    width: 100%;
                } 
                .concept__msg {
                    margin-top: 45px;
                    color: #171620;
                    font-size: 20px;
                    font-family: "Noto Serif JP", serif;
                    font-weight: 600;
                    line-height: 2.5;
                    @media (max-width: 1000px) {
                        font-size: 16px;
                    }
                }
            }
            .concept__img1 {
                width: 50%;
                z-index: 1;
                margin-left: -100px;
                img {
                    width: 100%;
                }
                @media (max-width: 1000px) {
                    width: 100%;
                    margin-top: 100px;
                    opacity: 0.6;
                }    
            }
        }
        .concept__items {
            display: flex;
            align-items: center;
            margin-top: 140px;
            @media (max-width: 1000px) {
                flex-direction: column;
            }
            .concept__img2 {
                width: 60%;
                img {
                    width: 100%;
                }
            }
            .concept__btn {
                margin-left: 70px;
                @media (max-width: 1000px) {
                    margin-top: 80px;
                    margin-left: 0;
                }
            }
        }
    }
}
/* Service */
.service {
    /* background-image: url(../images/top/service-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1440 / 1666;   
    margin-top:-200px;
    padding: 0 4%; */
    .service-bg {
        background-image: url(../images/top/service-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1440 / 1666;   
        margin-top:-200px;
        padding: 0 4%;
    }
 
    .service__container {
        max-width: 1200px;
        padding: 360px 0 250px;
        margin: 0 auto;
        .service__title {
            
        }
        .service__contents {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 1000px) {
                flex-direction: column;
            }
            .service__text {
                width: 20%;
                @media (max-width: 1000px) {
                    width: 100%;
                }
                .service__detail {
                    .detail__title-jp {
                        color: #9F9F9F;
                        font-size: 14px;
                        font-family: "Noto Serif JP", serif;
                        font-weight: 600;
                        @media (max-width: 1000px) {
                            font-size: 12px;
                        }
                    }
                    .detail__title-en {
                        color: #4A4864;
                        font-size: 24px;
                        font-family: "Alegreya SC", serif;
                        font-weight: 700;
                        font-style: italic;
                        &::first-letter {
                            font-size: 32px;
                            @media (max-width: 1000px) {
                                font-size: 28px;
                            }
                        }
                        @media (max-width: 1000px) {
                            font-size: 20px;
                        }
                    }
                    .detail__text {
                        color: #171620;
                        font-family: "Noto Serif JP", serif;
                        font-weight: 600;
                    }
                }
                .service__detail + .service__detail {
                    margin-top: 72px;
                }
            }
            .service__img {
                width: 80%;
                @media (max-width: 1000px) {
                    width: 100%;
                }
                .service__img-bg {
                    position: relative;
                    line-height: 1px;
                    z-index: 1;
                    img {
                        width: 100%;
                    }
                    .service__img1 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 27%;
                        line-height: 1px;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        img {
                            width: 100%;
                            
                        }
                    }
                    .service__img2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 73%;
                        line-height: 1px;
                        translate: -50%  -50%;
                        animation: rotation1 250s linear infinite;
                        img {
                            width: 100%;
                        }
                    }
                    .service__img3 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 69%;
                        line-height: 1px;
                        translate: -50% -50%;
                        animation: rotation2 250s linear infinite;
                        img {
                            width: 100%;
                        }
                    }
                }   
            }
        }
        .service__btn {
            margin: 0 auto;
        }
    }
}

@keyframes rotation1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotation2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* Contact */
.contact {
    background: linear-gradient(135deg, rgba(213, 200, 217, 0.77) 0, rgba(177, 216, 233, 0.87) 43%, rgba(232, 204, 215, 1) 93%);
    padding: 10px;
    .contact__container {
        padding: 74px 4% 80px;
        border: 1px solid;
        border-image: conic-gradient(#F5AF42, #FFD84B, #FFFAB4, #FFD84B, #F5AF42, #F5AF42) 1;
        .contact__inner {
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media (max-width: 1000px) {
                flex-direction: column;
            }
            .contact__item-left {
                width: 40%;
                @media (max-width: 1000px) {
                    width: 100%;
                }
                .contact__msg {
                    font-family: "Noto Serif JP", serif;
                    @media (max-width: 1000px) {
                        text-align: center;
                    }
                }
            }
            .contact__item-right {
                @media (max-width: 1000px) {
                    margin-top: 40px;
                }
                .contact__img-text {
                    margin-left: 100px;
                    font-size: 19px;
                    font-family: 'dearJoe 6 TRIAL', sans-serif;
                    font-weight: normal;
                    background: linear-gradient(90deg, #FDB3A9 0, #90ACE1 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: rotate(7deg);
                    @media (max-width: 1000px) {
                        font-size: 16px;
                    }
                }
                .contact__img {
                    width: 160px;
                    margin-top: -20px;
                    margin-left: 100px;
                    img {
                        width: 100%;
                    }
                }
                .contact__btn {
                    margin-top: -20px;
                    background: linear-gradient(270deg, #F0E98F 0%, #FBABAB 100%);
                    .btn__text {
                        font-family: "Noto Serif JP", serif;
                    }
                }
            }
        }
        
    }
}

/* footer */
.footer {
    background-color: #B2BCD5;
    background-image: url(../images/top/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1440 / 380;
    text-align: center;
    .footer__container {
        padding: 55px 4% 46px;
        .footer__contents {
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media (max-width: 400px) {
                flex-direction: column;
            }
            .footer__info {
                .address {
                    margin-top: 10px;
                }
                .phone-number {
                    margin-top: 50px;
                    @media (max-width: 400px) {
                        margin-top: 10px;
                    }
                }
                img {
                    width: 100px;
                }
            }
            .footer__nav {
                @media (max-width: 400px) {
                    margin-top: 30px;
                }
                .footer__nav-list {
                    .footer__nav-item {
                        transition: opacity .3s;
                    }
                    .footer__nav-item + .footer__nav-item {
                        margin-top: 30px;                
                    }
                    .footer__nav-item:hover {
                        opacity: 0.6;
                    }
                }
            }
        }   
    }
    .copyright {
        display: block;
        margin-top: 50px;
        color: #171620;
        font-size: 12px;
        font-family: "Noto Serif JP", serif;
        @media (max-width: 1000px) {
            font-size: 10px;
        }
    }
}

/*  */
.parallax {
    img {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
    }
    .flower {
        animation: flowerAnime ease-in-out;
        animation-timeline: view();
        animation-range: cover;
    }
}

/* @keyframes flowerAnime {
    0% {
        transform: translateX(0) translateY(0);
    }
    10% {
        transform: translateX(10vw) translateY(0);
    }
    20% {
        transform: translateX(30vw) translateY(0);
    }
    30% {
        transform: translateX(50vw) translateY(10vh);
    }
    40% {
        transform: translateX(30vw) translateY(20vh);
    }    
    50% {
        transform: translateX(10vw) translateY(30vh);
    }
    60% {
        transform: translateX(40vw) translateY(40vh);
    }
    70% {
        transform: translateX(60vw) translateY(50vh);
    }
    80% {
        transform: translateX(40vw) translateY(60vh);
    }
    90% {
        transform: translateX(60vw) translateY(70vh);
    }
    100% {
        transform: translateX(80vw) translateY(90vh);
    }
} */


/*------ page-Concept -----*/
/* header */
.page-header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: linear-gradient(135deg, rgba(213, 200, 217, 0.77) 0, rgba(177, 216, 233, 0.87) 43%, rgba(232, 204, 215, 1) 93%);
    z-index: 999;
    .company-logo {
        width: 120px;
        line-height: 1px;
        a {
            display: inline-block;
        }
        img {
            width: 100%;
        }
    }
    .pageHeader__nav {
        .pageHeader__list {
            display: flex;
            align-items: center;
            justify-content: center;
            .pageHeader__item {
                a {
                    color: #6E6C9C;
                }
            }
            .pageHeader__item + .pageHeader__item {
                margin-left: 60px;
            }
        }
    }
}
/* main */
.page-concept {
    .pageConcept__container {
        .page-title {
            margin-top: 176px;
        }
        .pageConcept__contents {
            display: flex;
            align-items: center;
            justify-content: center;
            .pageConcept__item {
                width: 50%;
                img {
                    width: 100%;
                }
                .pageConcept__img1 {

                }
                .pageConcept__img2 {
                    
                }
                
                
            }
            .pageConcept__text {
                width: 50%;
                padding: 0 10px;
                font-family: "Noto Serif JP", serif;
                .pageConcept__title {
                    text-align: center;
                    font-size: 32px;
                    font-weight: 700;
                }
                .pageConcept__msg {
                    font-weight: 600;
                }
            }
        }
    }
}

.scroll-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index:1;
}

#flower {
    width: 300px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.scroll-container-sp {
    display: none;
}

#flowersp {
    display: none;
}

@media (max-width:768px){
    
    .scroll-container {
        display: none;
    }
    
    #flower {
        display: none;
    }

    .scroll-container-sp {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index:1;
    }
    
    #flowersp {
        display: block;
        width: 150px;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}




